<div class="page">
<div class="container">
  <h1 class="h1-new py-3">Area Lists</h1>
</div>
<div class="container">
  <div class="page">
  <div class="page-content">
  <div class="row row py-4">
    <div class="col-5">
      <h2 class="ml-4" style="width: max-content">City Areas</h2>
      <div class="my-3 my-md-5">
        <div class="container">
          <div class="row row">
            <div class="col col-12">
              <div class="card">
                <div class="card-body" style="">
                  <div class="mb-3 input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-sm">Search</span></div>
                    <input aria-label="Small" aria-describedby="inputGroup-sizing-sm" class="form-control">
                  </div>
                  <div class="scrollable-list mt-5 list-group" *ngFor="let item of getCityAreas">
                    <div class="list-group-item">{{item.name}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 col col-2 align-self-center text-center">
      <div class="">
        <button class="btn disabled btn-primary d-block mx-auto" disabled=""><svg xmlns="http://www.w3.org/2000/svg" class="mt-1" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="5" y1="12" x2="19" y2="12"></line><line x1="13" y1="18" x2="19" y2="12"></line><line x1="13" y1="6" x2="19" y2="12"></line></svg></button>
        <button class="btn btn-danger d-block mx-auto mt-4"><svg xmlns="http://www.w3.org/2000/svg" class="mt-1" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="5" y1="12" x2="19" y2="12"></line><line x1="5" y1="12" x2="11" y2="18"></line><line x1="5" y1="12" x2="11" y2="6"></line></svg></button>
      </div>
    </div>
    <div class="col-5">
      <h2 class="ml-4" style="width: max-content">Outlet Areas</h2>
      <div class="my-3 my-md-5">
        <div class="container">
          <div class="row row">
            <div class="col col-12">
              <div class="card">
                <div class="card-body" style="">
                  <div class="mb-3 input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text">Search</span></div>
                    <input aria-label="Small" aria-describedby="inputGroup-sizing-sm" class="form-control">
                  </div>
                  <div class="scrollable-list mt-5 list-group" *ngFor="let item of getCityAreas">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
