<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular GQL</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto ml-3">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="/brandlist">Brand Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="/register-device">Register Device</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="/city-areas">Areas/Cities</a>
      </li>
    </ul>
    <button (click)="clearLocal()" class="nav-link btn btn-primary " routerLinkActive="list-item-active" routerLink="/login" style="color: #ffffff">Sign Out</button>

  </div>
</nav>
